<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CeramicKoala.cs2340"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.CeramicKoala.cs2340.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.CeramicKoala.cs2340.activities.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:parentActivityName="com.CeramicKoala.cs2340.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs2340project.MainActivity" />
        </activity>
        <activity
            android:name="com.CeramicKoala.cs2340.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.CeramicKoala.cs2340.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs2340project.MainActivity" />
        </activity>
        <activity
            android:name="com.CeramicKoala.cs2340.activities.AccountManagementActivity"
            android:label="@string/title_activity_account_management"
            android:parentActivityName="com.CeramicKoala.cs2340.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs2340project.MainActivity" />
        </activity>
        <activity
            android:name="com.CeramicKoala.cs2340.test.AccountOpenHelperTest"
            android:label="@string/title_activity_account_open_helper_test" >
        </activity>
        <activity
            android:name="com.CeramicKoala.cs2340.activities.AccountRegistrationActivity"
            android:label="@string/title_activity_account_registration" 
            android:parentActivityName="com.CeramicKoala.cs2340.activities.LogInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs2340project.LogInActivity" />
        </activity>
    </application>

</manifest>
